# Local input folder
input/*

# Model files
model_files/*

# Results
results/*

# Sphinx documentation
docs/_build/

# MacOS
.DS_Store

# Virtual environment
venv
.env

config.py

cache

src/__pycache__/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

build/
*.egg-info/

examples/test_ntbk.ipynb
#examples/gpbp_showcame.ipynb

Public-Infrastructure-Location-Optimiser.code-workspace

data
publications/PISA Timor Leste/.ipynb_checkpoints/Timor Leste_Estrada_WorldPop_Analysis-checkpoint.ipynb
*.pkl
