# Local input folder
input/*

# Model files
model_files/*

# Results
results/*

# Virtual environment
venv

cache

src/__pycache__/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/