secret/
data/
clean_runs_*/
agenda_visuals/
__pycache__/
src/__pycache__/
*.pyc
*.pyo
*.pyd
*.zip
*.csv
*.log
*.png
*.pdf
*.xlsx
*.xls
*.html
*.lp
*.mps
*.sol
*.prm
*.attr
*.ipynb
*.txt
.ipynb_checkpoints/
