# This workflow will install the package and run unit tests, so that, before a PR is merged, one can check if the changes affect the basic functionality.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Run unit tests

on:
  push:
    branches: [ "main" , "dev" ]
  pull_request:
    branches: [ "main" , "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install poetry
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry
    - name: Install package
      run: poetry install
    - name: Test with coverage
      run: poetry run pytest --cov=pisa --cov-report=term-missing tests/
